
  <div class="navbar navbar-expand-md navbar-dark bg-tr">
    <a class="text-white col-6">
      <img class="logo" src="../../assets/images/profiles/Thrisha1.jpg"> 
        {{wishingText}} {{'   ' + userName}}
      </a>
    <div class="layoutBar col-6"> 
      <!-- <div class="dropdown" style="text-align: right;">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/userProfile">Profile</a>
          <a class="dropdown-item" routerLink="/logIn">Logout</a>
        </div>
      </div> -->

      <a class="text-black col-1" >
        <img class="imgs" src='../../assets/images/chat.png'>
      </a>
      
      <i class="fa fa-bars fa-lg col-1" aria-hidden="true"></i>
    </div>    
  </div>
