<footer class="footer fixed-bottom">
    <div class="container">      
      <div class="row">
        <div class="matFooter col">
          <div class="change-color" ng-mouseover="hoverActive=true" ng-mouseleave="hoverActive=false" ng-style="hoverActive ? {'background-color': background: #1ed006; } : {}" >
            <a class="text-black" routerLink="./home" style="text-decoration:none" >
            <img class="img" src='../../assets/images/home.png'>
            <br>
            <span class="text">Home</span>
          </a>  
          </div>       
        </div>
        <div class="matFooter col">
          <div class="change-color" ng-mouseover="hoverActive=true" ng-mouseleave="hoverActive=false" ng-style="hoverActive ? {'background-color': background: #1ed006; } : {}" >
            <img class="imgs" src='../../assets/images/couple.png'>
            <br>
            <span class="text">Matches</span>
          </div>
        </div>
        <div class="matFooter col">
          <div class="change-color" ng-mouseover="hoverActive=true" ng-mouseleave="hoverActive=false" ng-style="hoverActive ? {'background-color': background: #1ed006; } : {}" >
            <a class="text-black" routerLink="./mailbox" style="text-decoration:none" >
             <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
             <br>
             <span class="text">Mailbox</span>
            </a>
          </div>
        </div>
        <div class="matFooter col">
          <div class="change-color" ng-mouseover="hoverActive=true" ng-mouseleave="hoverActive=false" ng-style="hoverActive ? {'background-color': background: #1ed006; } : {}" >
            <a class="text-black" routerLink="./notifications" style="text-decoration:none" >
             <i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>
             <br>
             <span class="text">Notifications</span>
           </a>
          </div>
        </div>
        <div class="matFooter col">
          <div class="change-color" ng-mouseover="hoverActive=true" ng-mouseleave="hoverActive=false" ng-style="hoverActive ? {'background-color': background: #1ed006; } : {}" >
            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            <br>
            <span class="text">Search</span>
          </div>
        </div>
      </div>
    </div>
  </footer>