<div class="container" style="max-width: 100%;">

    <router-outlet></router-outlet>

    <div class="row">
        <div class = "col-9">
            <h5 class="headerText"> Awaiting Your Response </h5>
        </div>
        <div class = "col-3">
            <span class="spanText" style="color : orange"> See All </span>
        </div>
    </div>

    <div class="row"> 
        
        <div class="col-1">
            <img class="waitingImgs" src="../../assets/images/recommandImages/s1.jpg">
        </div>
        <div class="textclass col">
            <a class="text-black" routerLink="./viewrequests" style="text-decoration:none" >
                <strong>Rob</strong> (25 yrs, 5'6") sent you an interest.
                <br>
                <br>
            </a>
            <span class="dText"> Decline </span> | <strong> <span class="aText"> Accept </span> </strong>   
        </div>        
    </div>

    <br>   

    <div class="row"> 
        <div class="col-1">
            <img class="waitingImgs" src="../../assets/images/recommandImages/s2.jpg">
        </div>
        <div class="textclass col">
            <strong>Kumar</strong> (29 yrs, 5'8") sent you an interest.
            <br>
            <br>
            <span class="dText"> Decline </span> | <strong> <span class="aText"> Accept </span> </strong>
        </div>
    </div>
        <br>
    <div class="row"> 
        <div class="col-1">
            <img class="waitingImgs" src="../../assets/images/recommandImages/s3.jpg">
        </div>
        <div class="textclass col">
            <strong>Bala</strong> (25 yrs, 4'9") sent you an interest.
            <br>
            <br>
            <span class="dText"> Decline </span> | <strong> <span class="aText"> Accept </span> </strong>
        </div>
    </div>

    <div class="row">
        <div class = "col-9">
            <h5 class="headerText"> 751 Members Viewed You </h5>
        </div>
        <div class = "col-3">
            <span class="spanText" style="color : orange"> See All </span>
        </div>
    </div>

    <div class="row"> 
        <div class="col">
            <img class="imgs" src="../../assets/images/recommandImages/s1.jpg">
            <br>
            <b>Prakash</b>
            <p>29 yrs, 5'8"</p>
        </div>  
        <div class="col">
            <img class="imgs" src="../../assets/images/recommandImages/s2.jpg">
            <br>
            <b>Hari</b>
            <p>27 yrs, 5'10"</p>
        </div>        
        <div class="col">
            <img class="imgs" src="../../assets/images/recommandImages/s3.jpg">
            <br>
            <b>Abi</b>
            <p>25 yrs, 5'11"</p>
        </div>     
    </div>

    <div class="row">
        <div class = "col-9">
            <h5 class="headerText"> 21 Members Shorlisted You </h5>
        </div>
        <div class = "col-3">
            <span class="spanText" style="color : orange"> See All </span>
        </div>
    </div>

    <div class="row"> 
        <div class="col">
            <img class="imgs" src="../../assets/images/recommandImages/s1.jpg">
            <br>
            <b>Murali</b>
            <p>25 yrs, 5'10"</p>
        </div>  
        <div class="col">
            <img class="imgs" src="../../assets/images/recommandImages/s2.jpg">
            <br>
            <b>Hari</b>
            <p>29 yrs, 4'11"</p>
        </div>        
        <div class="col">
            <img class="imgs" src="../../assets/images/recommandImages/s3.jpg">
            <br>
            <b>Kamal</b>
            <p>29 yrs, 5'5"</p>
        </div>     
    </div>
</div>

