.headerText{
    padding-top : 15px;
    float: left;
}

.spanText{
    padding-top : 15px;
    float: right;
}

.imgs{
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.waitingImgs{
    border-radius: 25%;
    height: 100px;
    width: 100px;
}

.dText{
    color : #888181;
    font-size: 13.5px;
}

.aText{
    color : orange;
    font-size: 13.5px;
}

@media only screen and (max-width:1250px) {
    .textclass{
        margin-left: 80px;
    }
}

.textclass{
    margin-left: 80px;
}
