<div class="nodifyCard">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 350px; ">
  <div class="carousel-inner"> 
    <div class="carousel-item active">
      <div class="cardBody card" >
        <img class="card-img-top cardImage" id="imgId"  src="../../assets/images/recommandImages/s1.jpg" alt="Card image cap">
        <div class="card-body">
          <img class="imgs" src="../../assets/images/verified.png"> <span class="text" style="color:purple; font-size:13px; margin-left: 2px">  Verified</span>      
          <br>
          <h5 class="card-title">Rob</h5>      
          <p class="card-text">25 yrs, 5'6", ₹ 7 Lacks & above, Chennai, TamilNadu.
          <br>
          <hr>
          <i class="fa fa-star-o" aria-hidden="true"> ShortList</i>      
          <img class="imgs" src="../../assets/images/tick.png" style="float: right; margin-left:10px; margin-right: 10px;">
          <img class="imgs" src="../../assets/images/close.png" style="float: right;">   
          <b style="float: right; margin-right: 10px;"> Like him ?</b>   
          <br>
          <br>
        </div>
      </div>
    </div> 
    <div class="carousel-item">
      <div class="cardBody card" >
        <img class="card-img-top cardImage" id="imgId"  src="../../assets/images/recommandImages/s2.jpg" alt="Card image cap">
        <div class="card-body">
          <img class="imgs" src="../../assets/images/verified.png"> <span class="text" style="color:purple; font-size:13px; margin-left: 2px">  Verified</span>      
          <br>
          <h5 class="card-title">RajDurai</h5>      
          <p class="card-text">27 yrs, 5'6", ₹ 5 Lacks & above, Madurai, TamilNadu.
          <br>
          <hr>
          <i class="fa fa-star-o" aria-hidden="true"> ShortList</i>      
          <img class="imgs" src="../../assets/images/tick.png" style="float: right; margin-left:10px; margin-right: 10px;">
          <img class="imgs" src="../../assets/images/close.png" style="float: right;">   
          <b style="float: right; margin-right: 10px;"> Like him ?</b>   
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cardBody card" >
        <img class="card-img-top cardImage" id="imgId"  src="../../assets/images/recommandImages/s3.jpg" alt="Card image cap">
        <div class="card-body">
          <img class="imgs" src="../../assets/images/verified.png"> <span class="text" style="color:purple; font-size:13px; margin-left: 2px">  Verified</span>      
          <br>
          <h5 class="card-title">Abi</h5>      
          <p class="card-text">25 yrs, 4'6", ₹ 15 Lacks & above, Nellai, TamilNadu.
          <br>
          <hr>
          <i class="fa fa-star-o" aria-hidden="true"> ShortList</i>      
          <img class="imgs" src="../../assets/images/tick.png" style="float: right; margin-left:10px; margin-right: 10px;">
          <img class="imgs" src="../../assets/images/close.png" style="float: right;">   
          <b style="float: right; margin-right: 10px;"> Like him ?</b>   
          <br>
          <br>
        </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
